* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

main{
    max-width: 800px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img{
    margin-left: 15px;
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/*  */

aside{
    width: 20em;
    text-align: center; 
    position: relative;
}


aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0px;
}

footer{
    margin-top: 15px;
    border-top: 3px solid #000;
    text-align: center;
}

/* Seletores de Classe */

.caixa{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    background-color: #ddd;
    color: #333;
}

aside h2{
    position: absolute;
    top: 170px;   
    left: 65px;
    color: rgb(0, 0, 0);
}

.indentacao{
    padding-left: 2rem ;
}